@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    font-family: Titillium Web, sans-serif;
    min-height: 100vh;
    position: relative;
    
  }

#changeinfo > div {
  padding: 2%;
  text-align: left;
}

.navbar {
  background-color: #0057a3 ;
  color: white;
}

#userinfo {
  margin-bottom: 5%;
}

.login-welcome {
  text-align: center;
}

.bg-dark.p-4 > * {
  display: block;
  margin-bottom: 10px;
  
}

.bg-dark {
  background-color: #fff980 !important;
}

#logoutbtn:hover {
  cursor: pointer;
  text-decoration: underline;
}

#homebtn:hover {
  cursor: pointer;
  text-decoration: underline;
}

#footinsert {
  position: absolute;
  bottom: -48px; /*THIS WAS CHANGED TEMP*/
  width: 100%;
  
}

#delete-icon:hover {
  cursor: pointer;
  color: red;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.btn-container {
  display: flex;
  justify-content: center;
  }
  
  .btn {
  margin: 0 10px;
  }

.btn-outline-success{
  background-color: #63a6a2  ;
  color: white; 
  border-color: #63a6a2  ;
}

.btn-outline-success:hover{
  background-color: #4c8a87;
  color: white; 
  border-color: #4c8a87;
}


#post-button {
  background-color: #8265a8 ; 
  border-color: #8265a8 ;
  
}

#drop1, #drop2 {
  background-color: #8265a8;
}

#filterDrop {
  display: flex; 
  background-color: #63a6a2; 
  height: 48px; 
  justify-content: right; 
  padding-top: 6px;
  padding-right: 2%;
}

#post-button:hover {
  background-color: #6c4f93;
  border-color: #6c4f93;
}


/* Background from BCIT official website (Creative Commons License), modified in Photoshop */
.background-image {
  background-image: url('../images/backgroundblurred.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Background designed by colli13designs from Pixabay, modified in Photoshop */
.background2 {
  background-image: url('../images/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bcit-link {
  color: #000000;
  text-decoration: none;
}

.bcit-link:hover {
  color: #1100ff;
}

#bcitlinkblock a {
  display: block;
}

.bcit-logo {
  width: auto;
  height: 200px;
}


#view-post-button{
  color:white;
}



.post {
  margin-bottom: 5%;
}


#savebutton {
  background-color: #8265a8 ; 
  border-color: #8265a8 ;
  
}

#savebutton:hover {
  background-color: #6c4f93;
  border-color: #6c4f93;
}

.whitebox {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}